## Test Report

### Summary

| Metric | Value |
| --- | --- |
| Total | 97 |
| Passed | 97 |
| Failed | 0 |
| Skipped | 0 |
| Coverage | 37.40% |
| Threshold | 0.00% |

### Packages

| Package | Status | Tests | Failed | Coverage |
| --- | --- | --- | --- | --- |
| . | no\_tests | 0 | 0 | 0.00% |
| build | no\_tests | 0 | 0 | 0.00% |
| build/builder | no\_tests | 0 | 0 | 0.00% |
| cmd | pass | 23 | 0 | 92.06% |
| config/data | pass | 19 | 0 | 78.35% |
| config/define | no\_tests | 0 | 0 | 0.00% |
| config/model | no\_tests | 0 | 0 | N/A |
| internal/auth | pass | 29 | 0 | 78.31% |
| internal/fn | pass | 8 | 0 | 71.43% |
| internal/i18n | no\_tests | 0 | 0 | 0.00% |
| internal/logger | pass | 1 | 0 | 68.42% |
| internal/misc/deprecated | no\_tests | 0 | 0 | 0.00% |
| internal/misc/health | pass | 1 | 0 | 100.00% |
| internal/misc/redir | no\_tests | 0 | 0 | 0.00% |
| internal/pages/editor | no\_tests | 0 | 0 | 0.00% |
| internal/pages/guide | no\_tests | 0 | 0 | 0.00% |
| internal/pages/home | pass | 2 | 0 | 0.48% |
| internal/pool | no\_tests | 0 | 0 | 0.00% |
| internal/resources/assets | pass | 3 | 0 | 92.11% |
| internal/resources/mdi | pass | 6 | 0 | 91.67% |
| internal/resources/templates | no\_tests | 0 | 0 | 0.00% |
| internal/server | pass | 5 | 0 | 48.33% |
| internal/settings | no\_tests | 0 | 0 | 0.00% |
| internal/settings/appearance | no\_tests | 0 | 0 | 0.00% |
| internal/settings/others | no\_tests | 0 | 0 | 0.00% |
| internal/settings/search | no\_tests | 0 | 0 | 0.00% |
| internal/settings/theme | no\_tests | 0 | 0 | 0.00% |
| internal/settings/weather | no\_tests | 0 | 0 | 0.00% |
| tools/baseline | no\_tests | 0 | 0 | 0.00% |
