## Test Report

### Summary

| Metric | Value |
| --- | --- |
| Total | 242 |
| Passed | 242 |
| Failed | 0 |
| Skipped | 0 |
| Coverage | 63.81% |
| Threshold | 0.00% |

### Packages

| Package | Status | Tests | Failed | Coverage |
| --- | --- | --- | --- | --- |
| . | no\_tests | 0 | 0 | 0.00% |
| build | no\_tests | 0 | 0 | 0.00% |
| build/builder | no\_tests | 0 | 0 | 0.00% |
| cmd | pass | 29 | 0 | 97.79% |
| config/data | pass | 49 | 0 | 87.40% |
| config/define | pass | 1 | 0 | 66.67% |
| config/model | pass | 4 | 0 | 92.31% |
| internal/auth | pass | 30 | 0 | 87.36% |
| internal/bookmarks | pass | 5 | 0 | 89.81% |
| internal/clock | pass | 5 | 0 | 91.25% |
| internal/fn | pass | 12 | 0 | 71.43% |
| internal/formvalue | pass | 1 | 0 | 100.00% |
| internal/i18n | no\_tests | 0 | 0 | 0.00% |
| internal/logger | pass | 6 | 0 | 72.16% |
| internal/misc/deprecated | no\_tests | 0 | 0 | 0.00% |
| internal/misc/health | pass | 1 | 0 | 100.00% |
| internal/misc/redir | no\_tests | 0 | 0 | 0.00% |
| internal/pages/editor | pass | 9 | 0 | 62.80% |
| internal/pages/guide | no\_tests | 0 | 0 | 0.00% |
| internal/pages/home | pass | 16 | 0 | 55.72% |
| internal/pool | no\_tests | 0 | 0 | 0.00% |
| internal/resources/assets | pass | 9 | 0 | 83.04% |
| internal/resources/mdi | pass | 10 | 0 | 86.81% |
| internal/resources/templates | no\_tests | 0 | 0 | 0.00% |
| internal/search | pass | 6 | 0 | 93.44% |
| internal/searchui | pass | 1 | 0 | 87.50% |
| internal/server | pass | 38 | 0 | 65.77% |
| internal/settings | no\_tests | 0 | 0 | 0.00% |
| internal/settings/appearance | no\_tests | 0 | 0 | 0.00% |
| internal/settings/others | no\_tests | 0 | 0 | 0.00% |
| internal/settings/search | pass | 2 | 0 | 39.01% |
| internal/settings/theme | pass | 2 | 0 | 87.88% |
| internal/settings/weather | pass | 1 | 0 | 50.00% |
| tools/baseline | pass | 5 | 0 | 21.56% |
