## Test Report

### Summary

| Metric | Value |
| --- | --- |
| Total | 117 |
| Passed | 117 |
| Failed | 0 |
| Skipped | 0 |
| Coverage | 47.36% |
| Threshold | 0.00% |

### Packages

| Package | Status | Tests | Failed | Coverage |
| --- | --- | --- | --- | --- |
| . | no\_tests | 0 | 0 | 0.00% |
| build | no\_tests | 0 | 0 | 0.00% |
| build/builder | no\_tests | 0 | 0 | 0.00% |
| cmd | pass | 24 | 0 | 92.23% |
| config/data | pass | 22 | 0 | 82.00% |
| config/define | no\_tests | 0 | 0 | 0.00% |
| config/model | no\_tests | 0 | 0 | 0.00% |
| internal/auth | pass | 30 | 0 | 78.82% |
| internal/bookmarks | pass | 5 | 0 | 89.81% |
| internal/clock | pass | 5 | 0 | 91.25% |
| internal/fn | pass | 8 | 0 | 71.43% |
| internal/i18n | no\_tests | 0 | 0 | 0.00% |
| internal/logger | pass | 1 | 0 | 68.42% |
| internal/misc/deprecated | no\_tests | 0 | 0 | 0.00% |
| internal/misc/health | pass | 1 | 0 | 100.00% |
| internal/misc/redir | no\_tests | 0 | 0 | 0.00% |
| internal/pages/editor | pass | 2 | 0 | 55.95% |
| internal/pages/guide | no\_tests | 0 | 0 | 0.00% |
| internal/pages/home | pass | 2 | 0 | 0.50% |
| internal/pool | no\_tests | 0 | 0 | 0.00% |
| internal/resources/assets | pass | 3 | 0 | 92.11% |
| internal/resources/mdi | pass | 6 | 0 | 91.67% |
| internal/resources/templates | no\_tests | 0 | 0 | 0.00% |
| internal/server | pass | 8 | 0 | 48.33% |
| internal/settings | no\_tests | 0 | 0 | 0.00% |
| internal/settings/appearance | no\_tests | 0 | 0 | 0.00% |
| internal/settings/others | no\_tests | 0 | 0 | 0.00% |
| internal/settings/search | no\_tests | 0 | 0 | 0.00% |
| internal/settings/theme | no\_tests | 0 | 0 | 0.00% |
| internal/settings/weather | no\_tests | 0 | 0 | 0.00% |
| tools/baseline | no\_tests | 0 | 0 | 0.00% |
