## Test Report

### Summary

| Metric | Value |
| --- | --- |
| Total | 141 |
| Passed | 141 |
| Failed | 0 |
| Skipped | 0 |
| Coverage | 50.37% |
| Threshold | 0.00% |

### Packages

| Package | Status | Tests | Failed | Coverage |
| --- | --- | --- | --- | --- |
| . | no\_tests | 0 | 0 | 0.00% |
| build | no\_tests | 0 | 0 | 0.00% |
| build/builder | no\_tests | 0 | 0 | 0.00% |
| cmd | pass | 25 | 0 | 92.68% |
| config/data | pass | 26 | 0 | 84.19% |
| config/define | no\_tests | 0 | 0 | 0.00% |
| config/model | no\_tests | 0 | 0 | 0.00% |
| internal/auth | pass | 30 | 0 | 87.36% |
| internal/bookmarks | pass | 5 | 0 | 89.81% |
| internal/clock | pass | 5 | 0 | 91.25% |
| internal/fn | pass | 8 | 0 | 71.43% |
| internal/formvalue | pass | 1 | 0 | 100.00% |
| internal/i18n | no\_tests | 0 | 0 | 0.00% |
| internal/logger | pass | 6 | 0 | 72.16% |
| internal/misc/deprecated | no\_tests | 0 | 0 | 0.00% |
| internal/misc/health | pass | 1 | 0 | 100.00% |
| internal/misc/redir | no\_tests | 0 | 0 | 0.00% |
| internal/pages/editor | pass | 3 | 0 | 58.72% |
| internal/pages/guide | no\_tests | 0 | 0 | 0.00% |
| internal/pages/home | pass | 2 | 0 | 0.49% |
| internal/pool | no\_tests | 0 | 0 | 0.00% |
| internal/resources/assets | pass | 3 | 0 | 92.59% |
| internal/resources/mdi | pass | 6 | 0 | 89.47% |
| internal/resources/templates | no\_tests | 0 | 0 | 0.00% |
| internal/server | pass | 14 | 0 | 56.82% |
| internal/settings | no\_tests | 0 | 0 | 0.00% |
| internal/settings/appearance | no\_tests | 0 | 0 | 0.00% |
| internal/settings/others | no\_tests | 0 | 0 | 0.00% |
| internal/settings/search | no\_tests | 0 | 0 | 0.00% |
| internal/settings/theme | pass | 1 | 0 | 90.00% |
| internal/settings/weather | no\_tests | 0 | 0 | 0.00% |
| tools/baseline | pass | 5 | 0 | 21.56% |
