## Test Report

### Summary

| Metric | Value |
| --- | --- |
| Total | 332 |
| Passed | 331 |
| Failed | 0 |
| Skipped | 1 |
| Coverage | 75.35% |
| Threshold | 0.00% |

### Packages

| Package | Status | Tests | Failed | Coverage |
| --- | --- | --- | --- | --- |
| . | no\_tests | 0 | 0 | 0.00% |
| build | no\_tests | 0 | 0 | 0.00% |
| build/builder | pass | 8 | 0 | 80.51% |
| cmd | pass | 29 | 0 | 97.79% |
| config/data | pass | 78 | 0 | 89.91% |
| config/define | pass | 1 | 0 | 66.67% |
| config/model | pass | 5 | 0 | 82.35% |
| internal/auth | pass | 31 | 0 | 87.63% |
| internal/bookmarks | pass | 5 | 0 | 89.86% |
| internal/clock | pass | 5 | 0 | 91.25% |
| internal/fn | pass | 12 | 0 | 71.43% |
| internal/formvalue | pass | 1 | 0 | 95.00% |
| internal/i18n | pass | 5 | 0 | 94.74% |
| internal/logger | pass | 6 | 0 | 73.79% |
| internal/misc/deprecated | no\_tests | 0 | 0 | 0.00% |
| internal/misc/health | pass | 1 | 0 | 100.00% |
| internal/misc/redir | no\_tests | 0 | 0 | 0.00% |
| internal/pages/editor | pass | 14 | 0 | 66.16% |
| internal/pages/guide | no\_tests | 0 | 0 | 0.00% |
| internal/pages/home | pass | 19 | 0 | 69.36% |
| internal/pool | no\_tests | 0 | 0 | 0.00% |
| internal/resources/assets | pass | 10 | 0 | 83.85% |
| internal/resources/mdi | pass | 14 | 0 | 91.09% |
| internal/resources/templates | no\_tests | 0 | 0 | 0.00% |
| internal/search | pass | 9 | 0 | 94.49% |
| internal/searchui | pass | 1 | 0 | 87.50% |
| internal/server | pass | 43 | 0 | 67.86% |
| internal/settings | no\_tests | 0 | 0 | 0.00% |
| internal/settings/appearance | no\_tests | 0 | 0 | 0.00% |
| internal/settings/others | no\_tests | 0 | 0 | 0.00% |
| internal/settings/search | pass | 2 | 0 | 32.74% |
| internal/settings/theme | pass | 2 | 0 | 87.88% |
| internal/settings/weather | pass | 16 | 0 | 84.04% |
| internal/yamlutil | pass | 3 | 0 | 100.00% |
| tools/baseline | pass | 12 | 0 | 71.43% |
