## Test Report

### Summary

| Metric | Value |
| --- | --- |
| Total | 632 |
| Passed | 630 |
| Failed | 0 |
| Skipped | 2 |
| Coverage | 87.66% |
| Threshold | 0.00% |

### Packages

| Package | Status | Tests | Failed | Coverage |
| --- | --- | --- | --- | --- |
| . | pass | 1 | 0 | 0.00% |
| build | no\_tests | 0 | 0 | 0.00% |
| build/builder | pass | 12 | 0 | 88.45% |
| cmd | pass | 80 | 0 | 92.94% |
| config/data | pass | 133 | 0 | 93.43% |
| config/define | pass | 1 | 0 | 62.79% |
| config/model | pass | 5 | 0 | 84.62% |
| internal/auth | pass | 75 | 0 | 91.07% |
| internal/bookmarks | pass | 6 | 0 | 90.25% |
| internal/clock | pass | 5 | 0 | 91.25% |
| internal/fn | pass | 13 | 0 | 87.91% |
| internal/formvalue | pass | 2 | 0 | 100.00% |
| internal/i18n | pass | 5 | 0 | 94.74% |
| internal/logger | pass | 7 | 0 | 92.23% |
| internal/misc/deprecated | no\_tests | 0 | 0 | 0.00% |
| internal/misc/health | pass | 1 | 0 | 100.00% |
| internal/misc/redir | no\_tests | 0 | 0 | 0.00% |
| internal/pages/editor | pass | 21 | 0 | 76.38% |
| internal/pages/guide | pass | 4 | 0 | 100.00% |
| internal/pages/home | pass | 39 | 0 | 85.38% |
| internal/pool | no\_tests | 0 | 0 | 0.00% |
| internal/requestsource | pass | 11 | 0 | 95.16% |
| internal/resources/assets | pass | 12 | 0 | 92.42% |
| internal/resources/mdi | pass | 14 | 0 | 91.09% |
| internal/resources/templates | pass | 3 | 0 | 58.06% |
| internal/search | pass | 9 | 0 | 94.49% |
| internal/searchui | pass | 1 | 0 | 87.50% |
| internal/security | pass | 41 | 0 | 90.96% |
| internal/server | pass | 74 | 0 | 82.81% |
| internal/settings | pass | 2 | 0 | 80.00% |
| internal/settings/appearance | pass | 3 | 0 | 56.90% |
| internal/settings/others | pass | 1 | 0 | 91.18% |
| internal/settings/search | pass | 5 | 0 | 85.77% |
| internal/settings/theme | pass | 3 | 0 | 83.72% |
| internal/settings/weather | pass | 20 | 0 | 89.73% |
| internal/yamlutil | pass | 9 | 0 | 93.36% |
| tools/baseline | pass | 14 | 0 | 77.14% |
