## Test Report

### Summary

| Metric | Value |
| --- | --- |
| Total | 309 |
| Passed | 308 |
| Failed | 0 |
| Skipped | 1 |
| Coverage | 73.29% |
| Threshold | 0.00% |

### Packages

| Package | Status | Tests | Failed | Coverage |
| --- | --- | --- | --- | --- |
| . | no\_tests | 0 | 0 | 0.00% |
| build | no\_tests | 0 | 0 | 0.00% |
| build/builder | pass | 8 | 0 | 80.44% |
| cmd | pass | 29 | 0 | 97.79% |
| config/data | pass | 77 | 0 | 89.88% |
| config/define | pass | 1 | 0 | 66.67% |
| config/model | pass | 4 | 0 | 80.00% |
| internal/auth | pass | 30 | 0 | 87.36% |
| internal/bookmarks | pass | 5 | 0 | 89.81% |
| internal/clock | pass | 5 | 0 | 91.25% |
| internal/fn | pass | 12 | 0 | 71.43% |
| internal/formvalue | pass | 1 | 0 | 100.00% |
| internal/i18n | no\_tests | 0 | 0 | 0.00% |
| internal/logger | pass | 6 | 0 | 72.16% |
| internal/misc/deprecated | no\_tests | 0 | 0 | 0.00% |
| internal/misc/health | pass | 1 | 0 | 100.00% |
| internal/misc/redir | no\_tests | 0 | 0 | 0.00% |
| internal/pages/editor | pass | 9 | 0 | 63.82% |
| internal/pages/guide | no\_tests | 0 | 0 | 0.00% |
| internal/pages/home | pass | 16 | 0 | 58.39% |
| internal/pool | no\_tests | 0 | 0 | 0.00% |
| internal/resources/assets | pass | 10 | 0 | 83.85% |
| internal/resources/mdi | pass | 11 | 0 | 91.75% |
| internal/resources/templates | no\_tests | 0 | 0 | 0.00% |
| internal/search | pass | 9 | 0 | 94.17% |
| internal/searchui | pass | 1 | 0 | 87.50% |
| internal/server | pass | 41 | 0 | 66.97% |
| internal/settings | no\_tests | 0 | 0 | 0.00% |
| internal/settings/appearance | no\_tests | 0 | 0 | 0.00% |
| internal/settings/others | no\_tests | 0 | 0 | 0.00% |
| internal/settings/search | pass | 2 | 0 | 33.33% |
| internal/settings/theme | pass | 2 | 0 | 87.88% |
| internal/settings/weather | pass | 16 | 0 | 83.96% |
| internal/yamlutil | pass | 3 | 0 | 100.00% |
| tools/baseline | pass | 10 | 0 | 70.26% |
