## Test Report

### Summary

| Metric | Value |
| --- | --- |
| Total | 538 |
| Passed | 536 |
| Failed | 0 |
| Skipped | 2 |
| Coverage | 85.08% |
| Threshold | 0.00% |

### Packages

| Package | Status | Tests | Failed | Coverage |
| --- | --- | --- | --- | --- |
| . | pass | 1 | 0 | 0.00% |
| build | no\_tests | 0 | 0 | 0.00% |
| build/builder | pass | 12 | 0 | 88.45% |
| cmd | pass | 64 | 0 | 92.18% |
| config/data | pass | 108 | 0 | 91.30% |
| config/define | pass | 1 | 0 | 62.79% |
| config/model | pass | 5 | 0 | 82.35% |
| internal/auth | pass | 70 | 0 | 91.07% |
| internal/bookmarks | pass | 6 | 0 | 90.25% |
| internal/clock | pass | 5 | 0 | 91.25% |
| internal/fn | pass | 13 | 0 | 87.91% |
| internal/formvalue | pass | 1 | 0 | 95.00% |
| internal/i18n | pass | 5 | 0 | 94.74% |
| internal/logger | pass | 6 | 0 | 73.79% |
| internal/misc/deprecated | no\_tests | 0 | 0 | 0.00% |
| internal/misc/health | pass | 1 | 0 | 100.00% |
| internal/misc/redir | no\_tests | 0 | 0 | 0.00% |
| internal/pages/editor | pass | 20 | 0 | 74.59% |
| internal/pages/guide | pass | 1 | 0 | 100.00% |
| internal/pages/home | pass | 36 | 0 | 85.73% |
| internal/pool | no\_tests | 0 | 0 | 0.00% |
| internal/requestsource | pass | 5 | 0 | 85.29% |
| internal/resources/assets | pass | 12 | 0 | 92.42% |
| internal/resources/mdi | pass | 14 | 0 | 91.09% |
| internal/resources/templates | pass | 3 | 0 | 58.06% |
| internal/search | pass | 9 | 0 | 94.49% |
| internal/searchui | pass | 1 | 0 | 87.50% |
| internal/security | pass | 37 | 0 | 90.96% |
| internal/server | pass | 54 | 0 | 77.78% |
| internal/settings | no\_tests | 0 | 0 | 0.00% |
| internal/settings/appearance | no\_tests | 0 | 0 | 0.00% |
| internal/settings/others | pass | 1 | 0 | 91.18% |
| internal/settings/search | pass | 4 | 0 | 82.45% |
| internal/settings/theme | pass | 2 | 0 | 83.33% |
| internal/settings/weather | pass | 19 | 0 | 89.64% |
| internal/yamlutil | pass | 8 | 0 | 92.98% |
| tools/baseline | pass | 14 | 0 | 77.14% |
