# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html

# Dependency directories (remove the comment below to include it)
# vendor/


database
internal/assets/icons
internal/assets/favicon.ico
internal/assets/css
internal/templates/html/*
internal/mdi/mdi-cheat-sheets
internal/pages/guide/guide-assets
internal/pages/editor/editor-assets
internal/weather/icons
.DS_Store
tmp
apps.yml
bookmarks.yml
config.yml

RELEASE_*