{{ define "settings-search.html" }}<div class=setting-group-container><form method=POST action="{{ .SettingPages.Search.Path }}"><h2>页面搜索</h2><div class=form-group><label for=show-search-component>展示搜索工具栏</label>
{{ if .ShowSearchComponent }}
<select name=show-search-component id=show-search-component><option value=1 selected>是<option value=0>否</select>
{{ else }}
<select name=show-search-component id=show-search-component><option value=0 selected>否<option value=1>是</select>
{{ end }}</div><div class=form-group><label for=disabled-search-auto-focus>禁用搜索栏自动获得焦点</label>
{{ if .DisabledSearchAutoFocus }}
<select name=disabled-search-auto-focus id=disabled-search-auto-focus><option value=1 selected>是<option value=0>否</select>
{{ else }}
<select name=disabled-search-auto-focus id=disabled-search-auto-focus><option value=0 selected>否<option value=1>是</select>
{{ end }}</div><div class=form-group><input class=btn-submit type=submit value=保存修改></div></form></div>{{ end }}