{{ define "settings-sidebar.html" }}<div class="sidebar pull-left">{{ $pageName := .PageName }}
<a href="{{ .SettingPages.Theme.Path }}" {{if eq .pagename .settingpages.theme.name}}class=active {{end}}>{{.SettingPages.Theme.Title }}</a>
<a href="{{ .SettingPages.Weather.Path }}" {{if eq .pagename .settingpages.weather.name}}class=active {{end}}>{{.SettingPages.Weather.Title }}</a>
<a href="{{ .SettingPages.Search.Path }}" {{if eq .pagename .settingpages.search.name}}class=active {{end}}>{{.SettingPages.Search.Title }}</a>
<a href="{{ .SettingPages.Appearance.Path }}" {{if eq .pagename .settingpages.appearance.name}}class=active {{end}}>{{ .SettingPages.Appearance.Title }}</a>
<a href="{{ .SettingPages.Others.Path }}" {{if eq .pagename .settingpages.others.name}}class=active {{end}}>{{.SettingPages.Others.Title }}</a></div>{{ end }}