#search-container #search {
  width: 100%;
  padding: 10px 0;
  color: var(--color-primary);
  font-size: 20px;
  /* margin-bottom: 20px; */
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-accent);
  opacity: 0.5;
  transition: all 0.2s;
  outline: none;
}

#search-container #search-label {
  text-align: right;
  width: 100%;
  display: block;
  opacity: 0;
}

#search-container #search:active + label {
  opacity: 1;
  transition: all 0.2s;
}
#search-container #search:focus + label {
  opacity: 1;
  transition: all 0.2s;
}
