{{ define "settings-sidebar.html" }}
<div class="sidebar pull-left">
    {{ $pageName := .PageName }}
    <a href="{{ .SettingPages.Theme.Path }}" {{if eq .PageName .SettingPages.Theme.Name}}class="active" {{end}}>{{ T .Locale "nav_theme" }}</a>
    <a href="{{ .SettingPages.Weather.Path }}" {{if eq .PageName .SettingPages.Weather.Name}}class="active" {{end}}>{{ T .Locale "nav_weather" }}</a>
    <a href="{{ .SettingPages.Search.Path }}" {{if eq .PageName .SettingPages.Search.Name}}class="active" {{end}}>{{ T .Locale "nav_search" }}</a>
    <a href="{{ .SettingPages.Appearance.Path }}" {{if eq .PageName .SettingPages.Appearance.Name}}class="active"{{end}}>{{ T .Locale "nav_appearance" }}</a>
    <a href="{{ .SettingPages.Others.Path }}" {{if eq .PageName .SettingPages.Others.Name}}class="active" {{end}}>{{ T .Locale "nav_others" }}</a>
</div>
{{ end }}