{{ define "settings-appearance.html" }}
<div class="setting-group-container">

    <form method="POST" action="{{ .SettingPages.Appearance.Path }}">
        <h2>{{ T .Locale "general_settings" }}</h2>
        <div class="form-group">
            <label for="settings-locale">{{ T .Locale "language" }}</label>
            <select name="locale" id="settings-locale">
                <option value="zh" {{ if eq .OptionLocale "zh" }}selected{{ end }}>{{ T .Locale "lang_zh" }}</option>
                <option value="en" {{ if eq .OptionLocale "en" }}selected{{ end }}>{{ T .Locale "lang_en" }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="settings-title">{{ T .Locale "custom_title" }}</label>
            <input type="text" name="title" id="settings-title" class="option-input" placeholder="{{ T .Locale "site_title_placeholder" }}" value="{{.OptionTitle}}">
        </div>

        <div class="form-group">
            <label for="settings-footer">{{ T .Locale "custom_footer" }}</label>
            <textarea name="footer" id="settings-footer" class="option-input" cols="30" rows="10" placeholder="{{ T .Locale "footer_placeholder" }}">{{.OptionFooter}}</textarea>
            <p class="help-text">{{ T .Locale "footer_help" }}</p>
        </div>

        <div class="form-group">
            <label for="settings-open-app-newtab">{{ T .Locale "open_app_newtab" }}</label>
            {{ if .OptionOpenAppNewTab }}
            <select name="open-app-newtab" id="settings-open-app-newtab">
                <option value="1" selected>{{ T .Locale "yes" }}</option>
                <option value="0">{{ T .Locale "no" }}</option>
            </select>
            {{ else }}
            <select name="open-app-newtab" id="settings-open-app-newtab">
                <option value="0" selected>{{ T .Locale "no" }}</option>
                <option value="1">{{ T .Locale "yes" }}</option>
            </select>
            {{ end }}
        </div>

        <div class="form-group">
            <label for="settings-open-bookmark-newtab">{{ T .Locale "open_bookmark_newtab" }}</label>
            {{ if .OptionOpenBookmarkNewTab }}
            <select name="open-bookmark-newtab" id="settings-open-bookmark-newtab">
                <option value="1" selected>{{ T .Locale "yes" }}</option>
                <option value="0">{{ T .Locale "no" }}</option>
            </select>
            {{ else }}
            <select name="open-bookmark-newtab" id="settings-open-bookmark-newtab">
                <option value="0" selected>{{ T .Locale "no" }}</option>
                <option value="1">{{ T .Locale "yes" }}</option>
            </select>
            {{ end }}
        </div>

        <div class="form-group">
            <label for="settings-enable-encrypted-link">{{ T .Locale "show_encrypted_link" }}</label>
            {{ if .OptionEnableEncryptedLink }}
            <select name="enable-encrypted-link" id="settings-enable-encrypted-link">
                <option value="1" selected>{{ T .Locale "yes" }}</option>
                <option value="0">{{ T .Locale "no" }}</option>
            </select>
            {{ else }}
            <select name="enable-encrypted-link" id="settings-enable-encrypted-link">
                <option value="0" selected>{{ T .Locale "no" }}</option>
                <option value="1">{{ T .Locale "yes" }}</option>
            </select>
            {{ end }}
        </div>

        <div class="form-group">
            <label for="settings-keep-letter-case">{{ T .Locale "keep_letter_case" }}</label>
            {{ if .OptionKeepLetterCase }}
            <select name="keep-letter-case" id="settings-keep-letter-case">
                <option value="1" selected>{{ T .Locale "yes" }}</option>
                <option value="0">{{ T .Locale "no" }}</option>
            </select>
            {{ else }}
            <select name="keep-letter-case" id="settings-keep-letter-case">
                <option value="0" selected>{{ T .Locale "no" }}</option>
                <option value="1">{{ T .Locale "yes" }}</option>
            </select>
            {{ end }}
        </div>

        <div class="form-group">
            <label for="settings-icon-mode">{{ T .Locale "icon_mode" }}</label>
            {{ if .OptionIconModeDefault }}
            <select name="icon-mode" id="settings-icon-mode">
                <option value="DEFAULT" selected>{{ T .Locale "icon_mode_default" }}</option>
                <option value="FILLING">{{ T .Locale "icon_mode_filling" }}</option>
            </select>
            {{ end }}
            {{ if .OptionIconModeFilling }}
            <select name="icon-mode" id="settings-icon-mode">
                <option value="DEFAULT">{{ T .Locale "icon_mode_default" }}</option>
                <option value="FILLING" selected>{{ T .Locale "icon_mode_filling" }}</option>
            </select>
            {{ end }}
        </div>

        <h2>{{ T .Locale "module_settings" }}</h2>

        <div class="form-group">
            <label for="settings-show-title">{{ T .Locale "show_title_component" }}</label>
            {{ if .OptionShowTitle }}
            <select name="show-title" id="settings-show-title">
                <option value="1" selected>{{ T .Locale "yes" }}</option>
                <option value="0">{{ T .Locale "no" }}</option>
            </select>
            {{ else }}
            <select name="show-title" id="settings-show-title">
                <option value="0" selected>{{ T .Locale "no" }}</option>
                <option value="1">{{ T .Locale "yes" }}</option>
            </select>
            {{ end }}
        </div>

        {{ if .OptionShowTitle }}
        <div class="form-group">
            <label for="settings-custom-greetings">{{ T .Locale "custom_greetings" }}</label>
            <input type="text" name="greetings" id="settings-custom-greetings" class="option-input" placeholder="{{ T .Locale "greetings_placeholder" }}" value="{{.OptionGreetings}}">
            <p class="help-text">{{ T .Locale "greetings_help" }}</p>
        </div>
        {{ end }}

        <div class="form-group">
            <label for="settings-show-datetime">{{ T .Locale "show_datetime" }}</label>
            {{ if .OptionShowDateTime }}
            <select name="show-datetime" id="settings-show-datetime">
                <option value="1" selected>{{ T .Locale "yes" }}</option>
                <option value="0">{{ T .Locale "no" }}</option>
            </select>
            {{ else }}
            <select name="show-datetime" id="settings-show-datetime">
                <option value="1">{{ T .Locale "yes" }}</option>
                <option value="0" selected>{{ T .Locale "no" }}</option>
            </select>
            {{ end }}
        </div>

        <div class="form-group">
            <label for="settings-show-apps">{{ T .Locale "show_apps" }}</label>
            {{ if .OptionShowApps }}
            <select name="show-apps" id="settings-show-apps">
                <option value="1" selected>{{ T .Locale "yes" }}</option>
                <option value="0">{{ T .Locale "no" }}</option>
            </select>
            {{ else }}
            <select name="show-apps" id="settings-show-apps">
                <option value="0" selected>{{ T .Locale "no" }}</option>
                <option value="1">{{ T .Locale "yes" }}</option>
            </select>
            {{ end }}
        </div>

        <div class="form-group">
            <label for="settings-show-bookmarks">{{ T .Locale "show_bookmarks" }}</label>
            {{ if .OptionShowBookmarks }}
            <select name="show-bookmarks" id="settings-show-bookmarks">
                <option value="1" selected>{{ T .Locale "yes" }}</option>
                <option value="0">{{ T .Locale "no" }}</option>
            </select>
            {{ else }}
            <select name="show-bookmarks" id="settings-show-bookmarks">
                <option value="0" selected>{{ T .Locale "no" }}</option>
                <option value="1">{{ T .Locale "yes" }}</option>
            </select>
            {{ end }}
        </div>

        <div class="form-group">
            <label for="settings-hide-settings-button">{{ T .Locale "hide_settings_button" }}</label>
            {{ if .OptionHideSettingsButton }}
            <select name="hide-settings-button" id="settings-hide-settings-button">
                <option value="1" selected>{{ T .Locale "yes" }}</option>
                <option value="0">{{ T .Locale "no" }}</option>
            </select>
            {{ else }}
            <select name="hide-settings-button" id="settings-hide-settings-button">
                <option value="0" selected>{{ T .Locale "no" }}</option>
                <option value="1">{{ T .Locale "yes" }}</option>
            </select>
            {{ end }}
        </div>

        <div class="form-group">
            <label for="settings-hide-help-button">{{ T .Locale "hide_help_button" }}</label>
            {{ if .OptionHideHelpButton }}
            <select name="hide-help-button" id="settings-hide-help-button">
                <option value="1" selected>{{ T .Locale "yes" }}</option>
                <option value="0">{{ T .Locale "no" }}</option>
            </select>
            {{ else }}
            <select name="hide-help-button" id="settings-hide-help-button">
                <option value="0" selected>{{ T .Locale "no" }}</option>
                <option value="1">{{ T .Locale "yes" }}</option>
            </select>
            {{ end }}
        </div>

        <div class="form-group">
            <input class="btn-submit" type="submit" value="{{ T .Locale "save_changes" }}" />
        </div>
    </form>




</div>
{{ end }}