{{ define "settings-sidebar.html" }}
<div class="sidebar pull-left">
    {{ $pageName := .PageName }}
    <a href="{{ .SettingPages.Theme.Path }}" {{if eq .PageName .SettingPages.Theme.Name}}class="active" {{end}}>{{.SettingPages.Theme.Title }}</a>
    <a href="{{ .SettingPages.Weather.Path }}" {{if eq .PageName .SettingPages.Weather.Name}}class="active" {{end}}>{{.SettingPages.Weather.Title }}</a>
    <a href="{{ .SettingPages.Search.Path }}" {{if eq .PageName .SettingPages.Search.Name}}class="active" {{end}}>{{.SettingPages.Search.Title }}</a>
    <a href="{{ .SettingPages.Appearance.Path }}" {{if eq .PageName .SettingPages.Appearance.Name}}class="active"{{end}}>{{ .SettingPages.Appearance.Title }}</a>
    <a href="{{ .SettingPages.Others.Path }}" {{if eq .PageName .SettingPages.Others.Name}}class="active" {{end}}>{{.SettingPages.Others.Title }}</a>
</div>
{{ end }}