{{ define "theme-embed-locked.html" }}
<div class="setting-group-container">
    <form method="POST" action="{{ .SettingPages.Theme.Path }}">
        <h2>设置主题</h2>
        <div class="theme-groups theme-group-actived clearfix">
            <p class="help-text">通过配置锁定的内置主题</p>
            <div class="theme theme-{{.ThemeSelected.Name}}">
                <div class="theme-container clearfix">
                    <div class="pull-left theme-color color-background"
                        style="background-color: {{.ThemeSelected.Colors.Background}};">
                    </div>
                    <div class="pull-left theme-color color-primary" style="background-color: {{.ThemeSelected.Colors.Primary}};">
                    </div>
                    <div class="pull-left theme-color color-accent" style="background-color: {{.ThemeSelected.Colors.Accent}};"></div>
                </div>
                <p class="theme-title">{{ .ThemeSelected.Name }}</p>
            </div>
        </div>

        {{ if .CustomThemeAlived }}
            <div class="theme-groups clearfix">
                {{range .CustomThemes}}
                <div class="pull-left theme theme-custom theme-disabled">
                    <div class="theme-container clearfix" style="background-image: url({{ .ThemeSelected.PreviewURL }});"></div>
                    <p class="theme-title">{{.Name}}</p>
                </div>
                {{end}}
            </div>
        {{end}}

        <div class="theme-groups clearfix">
            {{range .Themes}}
            <div class="pull-left theme theme-{{.Name}} theme-disabled">
                <div class="theme-container clearfix">
                    <div class="pull-left theme-color color-background"
                        style="background-color: {{.Colors.Background}};">
                    </div>
                    <div class="pull-left theme-color color-primary" style="background-color: {{.Colors.Primary}};">
                    </div>
                    <div class="pull-left theme-color color-accent" style="background-color: {{.Colors.Accent}};"></div>
                </div>
                <p class="theme-title">{{.Name}}</p>
            </div>
            {{end}}
        </div>
    </form>
</div>
{{ end }}